<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
        <!-- Use this section to allow the running of certain filetypes -->
        <remove fileExtension=".svg" />
        <remove fileExtension=".jpg" />
        <remove fileExtension=".png" />
        <remove fileExtension=".json" />
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        <mimeMap fileExtension=".jpg" mimeType="image/jpg" />
        <mimeMap fileExtension=".png" mimeType="image/png" />
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" /> 
        <mimeMap fileExtension=".json" mimeType="text/html" /> 
    </staticContent>
        <security>
            <dynamicIpSecurity denyAction="NotFound" />
            <ipSecurity allowUnlisted="false" denyAction="NotFound">
                <!-- Enter your white listed IP addresses -->
                <add ipAddress="213.174.212.158" allowed="true" />
                <add ipAddress="213.174.212.137" allowed="true" />
                <add ipAddress="127.0.0.1" allowed="true" />
                <add ipAddress="213.174.212.138" allowed="true" />
                <add ipAddress="62.189.98.148" allowed="true" />
                <add ipAddress="206.142.224.142" allowed="true" />
                <add ipAddress="94.245.107.113" allowed="true" />
                <add ipAddress="109.231.235.114" allowed="true" />
            </ipSecurity>
        </security>
  </system.webServer>
</configuration>
