<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
        <!-- Use this section to allow the running of certain filetypes -->
        <remove fileExtension=".svg" />
        <remove fileExtension=".jpg" />
        <remove fileExtension=".png" />
        <remove fileExtension=".json" />
        <remove fileExtension=".txt" />
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        <mimeMap fileExtension=".jpg" mimeType="image/jpg" />
        <mimeMap fileExtension=".png" mimeType="image/png" />
        <mimeMap fileExtension=".txt" mimeType="text/plain" />
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" /> 
        <mimeMap fileExtension=".json" mimeType="text/html" /> 
    </staticContent>
        <security>
            <dynamicIpSecurity denyAction="NotFound" />
            <ipSecurity allowUnlisted="false" denyAction="NotFound">
                <!-- Enter your white listed IP addresses -->

            </ipSecurity>
        </security>
  </system.webServer>
</configuration>
